@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #000000;
  --foreground: #FFFFFF;
  --whatsapp: #5CDE35;
  --sinais-blue: #027BFF;
  --sinais-darkblue: #00356F;
  --sinais-black: #100F0C;
  --sinais-error: #FF0F00;
  --pulse-shadow: pulse-shadow 2s ease-in-out infinite;
  --pulse-shadow-whatsapp: pulse-shadow-whatsapp 2s ease-in-out infinite;
  --pulse-shadow-sinais-blue: pulse-shadow-sinais-blue 2s ease-in-out infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-whatsapp: var(--whatsapp);
  --color-sinais-blue: var(--sinais-blue);
  --color-sinais-darkblue: var(--sinais-darkblue);
  --color-sinais-black: var(--sinais-black);
  --color-sinais-error: var(--sinais-error);
  --font-sans: var(--font-helvetica);
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 15px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes pulse-shadow-whatsapp {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 222, 53, 0.6);
  }
  70% {
    box-shadow: 0 0 0 15px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes pulse-shadow-sinais-blue {
  0% {
    box-shadow: 0 0 0 0 rgba(2, 123, 255, 0.8);
  }
  70% {
    box-shadow: 0 0 0 15px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.stretched-link::after {
  content: "";
  @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}

.embla__viewport {
  @apply mx-auto max-w-4xl;
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  padding-inline: 0.5rem;
}
